.page_wrapper{
    flex: 1;
    height:84vh;
    margin: auto;
    width: 94%;
    padding: 10px;   
  }

  .page_wrapper {
    flex: 1;
    margin: auto;
    width: 96%;
    padding: 10px;
  }
  
  .subheader {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .addButton {
    padding: 10px 20px;
    background-color: #007bff; /* Example blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  

  

