
.header-comp{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    right:8rem;
    width: 90rem;
    border-bottom: 2px solid #5C5C5C
}

.header-right{
    display: flex;
    width: 30rem;
    height: fit-content;
}

.user-logo{
    
    height: 3.3rem;
}

.welcome{
    padding-right: 8%;
    color: #3E4153;
}