.header {
    margin-left: 50px;
}

.hr-header {
    margin-left: 50px;
}


.orders-list {
    width: 60%;
    margin-left: 50px;
    margin-bottom: 20px;
}

.order-overview {
    display: flex;
    margin-left: 50px;
    /* margin-top: 50px; */
    margin-bottom: 20px;
}

.order-overview > p {
    margin-right: 50px;
}

.add-ord-btn {
    background-color: rgb(21, 157, 21);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 170px;
    margin-left: 750px;
    /* margin-top: 50px; */
    /* margin-right: 100px; */
}

.add-ord-btn:hover {
    cursor: pointer;
    width: 180px;
    font-size: 15px;
}

.add-ord-btn > * {
    vertical-align: middle;
}

.ord-inv {
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}
/* 
.ord-inv > h1 {
    font-size: 40px;
} */

.ord-inv > * {
    vertical-align: middle;
}

.add-inv-btn {
    background-color: rgb(21, 157, 21);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 170px;
    font-size: 20px;
}

.add-inv-btn:hover {
    cursor: pointer;
    font-size: 21px;
}

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
    margin-top: 50px;
}

.input-item-name {
    width: 80%;
    margin-bottom: 80px;
    border: 2px solid black;
    font-size: 25px;
    padding: 15px;
}

.no-img {
    width: 80%;
    height: 50%;
    margin-bottom: 20px;
    border: 1px solid black;
}

.item-overview-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lower-btn {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.move-item, .edit-itm {
    width: 100px;

}