.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  
  .modal_Content {
    width: 700px;
    height: 6000px;
    background: none;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .modalclose {
    position: absolute;
    top: 10px;
    right: 200px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }