

.activitiesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 65vh;
    position: relative;
  }

  


.sortIcon {
    width: 20px;
    height: 20%;
}

.activities {
  padding-top: 10px;
  background-color: #3E4153;
}

.activityFilter {
    width: 280px;
    height: 360px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
   
    
}

.activityFilter h1 {
    height: 25px;
    margin-left: 15px;
    font-size: 22px;
    font-weight: 500;
    color: #3E4153;
}

.activityForm {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
    gap: 15px;
    padding-left: 60px;
    
    
}

.activityForm label {
    font-size: 12px;
    display:flex;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 20px;
    
  
}

.activityForm input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #53A856;
    border-radius: 50%;
    cursor: pointer;
}

.activityForm input[type="radio"]:checked {
    background-color: #53A856; 
    border-color: #53A856;
  }

  .page_wrapper {
    flex: 1;
    margin: auto;
    width: 96%;
  }