.activityHistory {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
}


.activitiesContainer {
    width: 90%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.leftPart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.sortIcon {
    width: 20px;
    height: 20px;
}

.activities {
  
   
    padding-top: 10px;
}

.activityFilter {
    width: 280px;
    height: 360px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
   
    
}

.activityFilter h1 {
    height: 25px;
    margin-left: 15px;
    font-size: 22px;
    font-weight: 500;
    color: #3E4153;
}

.activityForm {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
    gap: 15px;
    padding-left: 60px;
    
}

.activityForm label {
    font-size: 13px;
}

.activityForm input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #53A856;
    border-radius: 50%;
    cursor: pointer;
}

.activityForm input[type="radio"]:checked {
    background-color: #53A856; 
    border-color: #53A856;
  }

  .page_wrapper {
    flex: 1;
    margin: auto;
    width: 96%;
  }