.logo{
     width: 260px;
     height: 110px;
    }
    .navbar{
        height: 100%;
        width: 18%;
        background-color: #53A856;
        z-index: 2;
        padding: 50 auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    .navmenu {
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar_link {
        width: 200px;
        height: 30px;
        background-color: #EFEFEF;
        opacity: 40%;
        color: #000000;
        text-decoration: none;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 10px;
        display: inline-flex;
        justify-content: center;
        gap: 8px;
    }

  .navbar_link img {
    width: 24px;
    height: 24px;
}

  .navbar_link:hover {
    opacity: 80%;
    transition: opacity 0.8s;
}

  .signout_wrap{
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    
  }
  .btn_signout{
    width: 214px;
    height: 50px;
    background-color: #EFEFEF;
    opacity: 40%;
    color: #000000;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
  
  }
  .btn_signout img{
   width: 24px;
   height: 24px;
  }
  
 .btn_signout:hover {
 opacity: 80%;
  transition: opacity 0.8s;
  }

  .navtoggle {
    display: none;
  }




/* .themeToggle {
  position: absolute;
  top: 0; 
  right: 0; 
  cursor: pointer;
  background-color:#53A856;
  border: none;
  outline: none;
  padding: 10px;
  margin-left: auto;
}

.themeToggle img {
  background-color: #53A856;
  width: 30px;
  height: auto;
  transition: transform 0.3s ease; 
  border-radius: 50%;
  
}

.themeToggle:hover img {
  transform: scale(1.1); 
}


.darkTheme .themeToggle img {
  filter: invert(100%); 
} */
