.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure modal is above other content */
    width: 90%; /* Responsive width */
    max-width: 500px; /* Max width to prevent too wide modal on large screens */
  }
  
  .modalForm {
    display: flex;
    flex-direction: column;
  }
  
  .modalForm h2 {
    margin-bottom: 20px;
  }
  
  .modalForm button {
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
  }
  
  /* Style for the close button */
  .modalForm > button {
    background-color: #e74c3c;
    width: fit-content;
    padding: 5px 10px;
    align-self: flex-end;
  }
  
  .modalForm input[type="text"],
  .modalForm input[type="file"] {
    padding: 8px;
    margin: 5px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modalForm label {
    margin-top: 10px;
  }
  
  .error {
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
  }
  
  .buttonGroup > button {
    flex-grow: 1;
    margin: 5px;
  }
  
  /* Specific style for the Cancel button */
  .buttonGroup > button:first-child {
    background-color: #95a5a6;
  }
  