
.header {
    display: flex;
    justify-content: center;
    
}

.main-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    
  }

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5rem;
  width: auto;
 

}

.inventory-summary, .recent-activity, .recent-orders {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 600px;
}

.inventory-summary h3, .recent-activity h3, .recent-orders h3 {
    margin-left: 100px;
    text-align: left;
}

.activities {
    margin-left: 100px;
    text-align: left;
}

.activity, .activity-g {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0.5px 1px 0px 0.5px;
    padding: 3px;
}


.cards {
    display: flex;
    justify-content: space-between;
}






