.recentordercard-container {
	display: flex;
	justify-content: space-around;
	margin-left: 150px;
}

.recentordercard {
	margin-right: 50px;
	width: 100px;
	height: 110px;
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 2px 2px 2px 0.4px rgba(0, 0, 0, 0.2);
}

.recentordercard-img {
	max-width: 100%;
	height: 60%;
}

.recentordercard-bottom {
	padding: 8px;
	padding-top: 2px;
	text-align: left;
}

.recentordercard-title {
	margin: 0;
	margin-bottom: 4px;
	font-size: 12px;
}

.recentordercard-description {
	margin: 0;
	font-size: 8px;
}
