.navigation {
    display: flex;
    height: 100vh;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #53a856;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
    

  
    
  }
  
  .app-logo {
    width: 345px;
    height: 190px;
    position: absolute;
    top: 0%;
    bottom: auto;
  }
  
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
  }

  .nav-button {
    display: flex;
    justify-content:center;
    align-items:center;
    color: black;
    background-color: #EFEFEF;
    opacity: 40%;
    width: 280px;
    height: 60px;
    top: 480px;
    left: 31px;
    border-radius: 10px;
    margin-top: 2px;
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    
    
  }

  .img-btn {

    position: relative;
    right: 80px;
    margin-right: 20px;
  }

  .txt-btn {
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left: 0%;
    position: absolute;
    
  }

  .signout-btn {
    position: absolute;
    bottom: 10%;
    right: 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

